<div data-controller="intersection-observer">

  <a href="https://candidat.pole-emploi.fr/offres/recherche/detail/130CRFK" target="_blank">
    <%= cl_image_tag("https://res.cloudinary.com/lucas-vittaz/image/upload/v1655496108/jardi_ca/nousrecrutons-min_fctyrt.webp",
    :id=>"recruitment-img") %>
  </a>

  <%= render 'shared/header' %>

  <%= render 'shared/about' %>

  <%= render 'shared/services' %>

  <%= render 'shared/achievements' %>

  <%= render 'shared/rating' %>
  
  <%= render 'shared/contact' %>

</div>
